@import url("https://fonts.googleapis.com/css?family=Oxygen:300");
body {
  margin: 0;
  min-width: 360px;
  position: relative; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.nav-bar {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 3px rgba(103, 0, 152, 0.6);
  padding: 15px 0; }
  .nav-bar ul {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 0 auto; }
    .nav-bar ul li {
      color: #ffffff;
      cursor: pointer;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 100;
      letter-spacing: 1px; }
      .nav-bar ul li span {
        color: #DF0053; }
    .nav-bar ul li:hover {
      color: #ccc; }

#landing {
  height: 100vh;
  max-height: 100vh;
  background-color: #530098;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* code for animated blinking cursor */ }
  #landing #type {
    text-align: center;
    color: white;
    font-family: 'Oxygen', sans-serif;
    user-select: none; }
    #landing #type span {
      font-size: 70px;
      word-spacing: 10px; }
    #landing #type .highlight {
      font-size: 95px; }
  #landing .typed-cursor {
    opacity: 1;
    font-weight: 100;
    animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  #landing .down-arrow {
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center; }
    #landing .down-arrow img {
      width: 100%; }

/*  show case/projects   */
#showcase {
  background-color: white;
  padding: 100px 0; }
  #showcase h1 {
    margin: 0 auto;
    text-align: center;
    width: 320px;
    font-size: 50px;
    color: #4792DE;
    font-weight: 100;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    transition: 0.3s all ease-in; }
    #showcase h1 span {
      font-size: 100px;
      font-weight: 600; }
  #showcase h1:hover {
    border-bottom: 1px solid #4792DE; }
  #showcase .projects {
    padding: 50px 0;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    #showcase .projects > .project {
      flex: 0 1 auto;
      height: 250px;
      width: 350px;
      background-color: #313;
      margin: 30px 15px;
      box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
    #showcase .projects .overlay {
      visibility: hidden;
      width: 100%;
      height: 100%;
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      transition: all 0.3s ease-in; }
      #showcase .projects .overlay p {
        user-select: none;
        color: white;
        text-align: center;
        padding: 20px;
        font-family: Helvetica;
        letter-spacing: 2px;
        font-weight: 100;
        line-height: 1.5;
        margin: 0;
        flex: 1 1 100%; }
      #showcase .projects .overlay button {
        font-size: 20px;
        border: 0;
        border-radius: 5px;
        padding: 5px;
        background-color: white;
        cursor: pointer; }
      #showcase .projects .overlay button:hover {
        background-color: #aaa; }
      #showcase .projects .overlay .fa {
        color: white;
        font-size: 35px;
        transition: font 0.25s;
        cursor: pointer; }
      #showcase .projects .overlay .fa:hover {
        font-size: 43px; }
    #showcase .projects > .project:hover .overlay {
      visibility: visible;
      background-color: rgba(0, 0, 0, 0.7); }
    #showcase .projects > .project:hover {
      transform: scale(1.05); }
    #showcase .projects .project1 {
      background-image: url("https://raw.githubusercontent.com/shivamg11000/images/master/tic-tac-toe.png"); }
    #showcase .projects .project2 {
      background-image: url("https://github.com/shivamg11000/images/blob/master/bees.png?raw=true"); }
    #showcase .projects .project3 {
      background-image: url("https://github.com/shivamg11000/images/blob/master/movie-app11.png?raw=true"); }
    #showcase .projects .project4 {
      background-image: url("https://github.com/shivamg11000/images/blob/master/reverse-eng.png?raw=true"); }
    #showcase .projects .project5 {
      background-image: url("https://github.com/shivamg11000/images/blob/master/github%20api.png?raw=true"); }
    #showcase .projects .project6 {
      background-image: url("https://github.com/shivamg11000/Fly-BIrd/raw/master/shot.png?raw=true"); }

/* Lets connect  */
#lets-connect {
  background-color: #2E2E2E;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23790098' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  min-height: 100vh;
  padding: 150px 0;
  /* email -form */ }
  #lets-connect .email-form {
    width: 750px;
    margin: 0 auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    display: flex; }
    #lets-connect .email-form .desc {
      flex: 0 1 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: #670098; }
      #lets-connect .email-form .desc div {
        text-align: center; }
        #lets-connect .email-form .desc div .fa {
          font-size: 70px;
          color: white; }
      #lets-connect .email-form .desc p {
        margin: 0;
        padding: 15px;
        text-align: center;
        color: white;
        font-weight: 100;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
    #lets-connect .email-form .form-section {
      flex: 0 1 75%;
      background-color: white; }
      #lets-connect .email-form .form-section h1 {
        text-align: center;
        font-size: 50px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #333; }
      #lets-connect .email-form .form-section form {
        text-align: center;
        position: relative; }
        #lets-connect .email-form .form-section form label {
          font-size: 15px;
          color: #656565;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
        #lets-connect .email-form .form-section form textarea {
          box-sizing: border-box;
          margin: 10px auto;
          padding: 20px;
          border: 1px solid #ddd;
          background-color: #eee;
          border-radius: 10px;
          max-width: 65%;
          resize: none; }
        #lets-connect .email-form .form-section form textarea::placeholder {
          color: #aaa;
          font-size: 16px; }
        #lets-connect .email-form .form-section form textarea:focus {
          outline: none;
          border: 1px solid #aaa; }
        #lets-connect .email-form .form-section form input {
          border: 1px solid #ddd;
          border-radius: 5px;
          font-size: 16px;
          margin: 10px 0;
          padding: 7px 10px;
          width: 330px;
          background-color: #eee; }
        #lets-connect .email-form .form-section form input::placeholder {
          color: #aaa;
          font-size: 16px; }
        #lets-connect .email-form .form-section form input:focus {
          outline: none;
          border: 1px solid #aaa; }
        #lets-connect .email-form .form-section form input[type="submit"] {
          box-sizing: border-box;
          width: 150px;
          padding: 5px 30px;
          font-size: 22px;
          border-radius: 10px;
          background-color: #DF0053;
          color: white;
          cursor: pointer; }
        #lets-connect .email-form .form-section form input[type="submit"]:hover {
          background-color: rgba(223, 0, 83, 0.8); }
        #lets-connect .email-form .form-section form #check {
          visibility: hidden; }
          #lets-connect .email-form .form-section form #check span:nth-child(1) {
            color: #FF0058; }
          #lets-connect .email-form .form-section form #check span:nth-child(2) {
            vertical-align: middle;
            margin-left: 10px;
            font-size: 25px;
            border-radius: 50%;
            background-color: #00F081;
            color: #DF0053;
            bottom: 5px;
            right: 10px; }

footer {
  background-color: #507CE0;
  padding: 10px 0;
  box-sizing: border-box; }
  footer * {
    box-sizing: border-box; }
  footer ul {
    width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }
    footer ul li .fa {
      color: white;
      font-size: 40px;
      border-radius: 100%;
      transition: all 0.5s; }
    footer ul .fa:hover {
      color: #00F081;
      line-height: 0.7; }

@media only screen and (max-width: 767px) {
  /*  form  */
  #lets-connect .email-form {
    display: block;
    width: 400px; }
    #lets-connect .email-form .desc {
      display: none; }
    #lets-connect .email-form .form-section {
      margin: 0 auto; }
      #lets-connect .email-form .form-section form > input {
        width: 250px; }
  /* navbar */
  .nav-bar ul {
    width: 100%; } }

@media only screen and (max-width: 560px) {
  /*  form  */
  #lets-connect .email-form {
    width: 90%; }
    #lets-connect .email-form .form-section {
      margin: 0 auto; }
      #lets-connect .email-form .form-section textarea {
        width: 100%;
        margin: 0; }
  /* navbar */
  .nav-bar ul li {
    font-size: 15px;
    letter-spacing: 0px; }
  /* footer */
  footer ul li .fa:hover {
    line-height: 1; }
  footer ul li .fa {
    font-size: 35px; } }

@media only screen and (max-width: 400px) {
  footer ul {
    width: 100%; } }
